[submodule "solitude"]
	path = solitude
	url = https://github.com/PPKFS/solitude.git
	branch = main
[submodule "breadcrumbs"]
	path = breadcrumbs
	url = https://github.com/PPKFS/breadcrumbs.git
	branch = main